---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import BookCard from "@/components/BookCard.astro";
import Reading from "@/components/Reading.astro";
import SeoPage from "@/components/SeoPage.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-8 gap-20">
    <div class="col-span-3">
      <div
        class="bg-light-primary dark:bg-dark-primary border-light-accent dark:border-dark-accent rounded-xl border border-opacity-10 p-4 dark:border-opacity-10"
      >
        <p class="text-sm text-black opacity-60 dark:text-white">
          Current Read
        </p>
      </div>
    </div>
    <div class="col-span-5">
      <div
        class="bg-light-primary dark:bg-dark-primary border-light-accent dark:border-dark-accent border border-opacity-10 dark:border-opacity-10"
      >
      </div>
    </div>
  </div>
</Layout>
