---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import BookCard from "@/components/BookCard.astro";
import Reading from "@/components/Reading.astro";
import SeoPage from "@/components/SeoPage.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-8 gap-20">
    <div class="col-span-3">
      <div class="box-bg default-border rounded-xl p-4">
        <p class="subtext text-sm">Current Read</p>
      </div>
    </div>
    <div class="col-span-5">
      <div class="box-bg default-border rounded-xl p-4"></div>
    </div>
  </div>
</Layout>
