---
import Layout from "@/layouts/Layout.astro";
import Blog from "@/components/Blog.astro";
import Project from "@/components/Project.astro";
import SeoPage from "@/components/SeoPage.astro";
import Hero from "@/components/Hero.astro";
import Seperator from "@/components/Seperator.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <SeoPage slot="head" />
  <main>
    <Hero />
    <Seperator />
    <Project />
    <br />
    <Blog />
    <br />
    <Footer />
  </main>
</Layout>
