---
import { getCollection } from "astro:content";
import { Forward } from "lucide-astro";
import FadeIn from "@/components/animations/FadeIn.jsx";
import SlideIn from "@/components/animations/SlideIn.jsx";
import BlogCard from "@/components/BlogCard.astro";
const posts = (await getCollection("blog"))
  .sort(
    (
      a: { data: { publicationDate: any } },
      b: { data: { publicationDate: any } },
    ) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
  )
  .slice(0, 3);
---

<div class="mb-6">
  <div class="mb-4 flex flex-row items-center justify-between">
    <p class="text-md text-gray-500">Recent writings</p>
    <!-- <a
      href="/blog"
      class="hidden text-gray-400 no-underline hover:text-black hover:underline md:block dark:hover:text-white"
      ><Forward /></a
    > -->
  </div>
  <SlideIn client:visible>
    <ul
      class="flex list-none flex-col gap-0 rounded-xl border border-white border-opacity-10 bg-[#f5f5f5] p-2 dark:bg-[#0f0f0f]"
    >
      {posts.map((post: any) => <BlogCard post={post} />)}
    </ul>
  </SlideIn>
</div>
