---
import { Github, Twitter, Rss } from "lucide-astro";
---

<hr class="my-8 w-1/5 border-[1px] opacity-5" />
<div class="flex flex-row items-center justify-between">
  <div>
    <ul class="flex flex-row justify-start gap-4">
      <li>
        <a href="https://github.com/notmugil">
          <span class="opacity-70"><Github /></span>
        </a>
      </li>
      <li>
        <a href="https://x.com/notmugil">
          <span class="opacity-70"><Twitter /></span>
        </a>
      </li>
      <li>
        <a href="/">
          <span class="opacity-70"><Rss /></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- <div class="align-center">
    <a href=""
      ><p
        class="rounded-md border border-white border-opacity-10 bg-gray-400 bg-opacity-20 px-2 py-1"
      >
        barebones
      </p></a
    >
  </div> -->
</div>
