---
import SlideIn from "@/components/animations/SlideIn.jsx";
import { SOCIAL_LINKS } from "@/consts";
---

<div class="mb-4 flex flex-row items-center justify-between">
  <p class="text-md text-gray-500">Socials</p>
</div>

<SlideIn client:load>
  <div
    class="bg-light-primary dark:bg-dark-primary border-light-accent dark:border-dark-accent flex list-none flex-col gap-1 rounded-xl border border-opacity-10 p-2 dark:border-opacity-10"
  >
    <ul class="flex flex-col text-gray-600 dark:text-gray-300">
      {
        Object.keys(SOCIAL_LINKS).map((socialItemKey) => {
          const IconComponent = SOCIAL_LINKS[socialItemKey].icon;
          return (
            <>
              <hr class="border-b-1 border-light-accent dark:border-dark-accent mx-2 border-opacity-5 first:border-0 dark:border-opacity-10" />
              <a href={SOCIAL_LINKS[socialItemKey].url} class="">
                <li class="bg-light-primary hover:bg-light-secondary dark:bg-dark-primary dark:hover:bg-dark-secondary hover:border-light-accent dark:hover:border-dark-accent flex min-h-full gap-1 rounded-lg border border-white border-opacity-0 p-4 hover:border hover:border-opacity-10 hover:dark:border-opacity-10">
                  <div class="align-center flex flex-row items-center gap-4">
                    <span class="text-light-accent dark:text-dark-accent items-center opacity-80">
                      <IconComponent size={16} />
                    </span>
                    {SOCIAL_LINKS[socialItemKey].label}
                  </div>
                </li>
              </a>
            </>
          );
        })
      }
    </ul>
  </div>
</SlideIn>
