---
import { Github, Mail, Rss } from "lucide-astro";
---

<div
  class="mb-2 flex flex-row items-center justify-between text-gray-600 dark:text-gray-300"
>
  <div>
    <ul class="flex flex-row justify-start gap-4">
      <li>
        <a href="https://github.com/notmugil">
          <span class="opacity-70 hover:opacity-100"><Github /></span>
        </a>
      </li>
      <li>
        <a href="mailto:hi@notmugil.com" target="_blank">
          <span class="opacity-70 hover:opacity-100"><Mail /></span>
        </a>
      </li>
      <li>
        <a href="/rss.xml">
          <span class="opacity-70 hover:opacity-100"><Rss /></span>
        </a>
      </li>
    </ul>
  </div>
</div>
