---
import { formatDate, readingTime } from "@/lib/util";
import { Image } from "astro:assets";

const { post } = Astro.props;

const readTime = readingTime(post.body);
---

<li class="mb-4 flex flex-col no-underline sm:justify-between">
  <a href={`/blog/${post.slug}`} class="flex flex-row justify-between">
    <h1 class="text-md font-bold text-black dark:text-white">
      {post.data.title}
    </h1>
    <div
      class="flex flex-row items-center gap-2 text-gray-500 dark:text-gray-400"
    >
      <p class="text-xs md:text-sm">
        {formatDate(post.data.publicationDate)}
      </p>
    </div>
  </a>
</li>
