---
import { getCollection } from "astro:content";
import { Forward } from "lucide-astro";
import FadeIn from "@/components/animations/FadeIn.jsx";
import SlideIn from "@/components/animations/SlideIn.jsx";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = (await getCollection("projects")).slice(0, 3);
---

<!-- Projects cards -->
<div class="mb-6">
  <div class="mb-6 flex flex-row items-center justify-between">
    <div>
      <h2 class="text-lg font-bold text-black dark:text-white">
        Featured projects
      </h2>
      <p class="text-sm text-gray-500">
        Projects that I've developed or contributed to.
      </p>
    </div>
    <a
      href="/projects"
      class="hidden text-gray-400 no-underline hover:text-black hover:underline md:block dark:hover:text-white"
      ><Forward />
    </a>
  </div>
  <SlideIn client:load>
    <ul class="group grid list-none grid-cols-1 gap-2 p-0 md:grid-cols-3">
      {projects.map((project: any) => <ProjectCard project={project} />)}
    </ul>
  </SlideIn>
</div>
