---
import { type CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a href={project.data.url} class="text-white no-underline" target="_blank">
  <div
    class="flex min-h-full gap-0 rounded-md border-opacity-0 bg-[#f5f5f5] p-4 drop-shadow-sm transition duration-500 hover:bg-[#ffffff] hover:drop-shadow-md dark:bg-[#0f0f0f] dark:hover:bg-[#171717]"
  >
    <div
      class="bg-opacity-70 transition duration-300 ease-in-out dark:hover:bg-opacity-100"
    >
      <li>
        <div class="flex flex-col">
          <p class="pb-1 font-medium text-black dark:text-white">
            {project.data.title}
          </p>
          <p class="text-sm text-gray-500 dark:text-gray-300">
            {project.data.description}
          </p>
        </div>
      </li>
    </div>
  </div>
</a>
