---
import { type CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<hr
  class="border-b-1 border-light-accent dark:border-dark-accent mx-2 border-opacity-5 first:border-0 dark:border-opacity-10"
/>
<li>
  <a href={project.data.url} class="text-white no-underline" target="_blank">
    <div
      class="dark:bg-dark-primary dark:hover:bg-dark-secondary bg-light-primary hover:bg-light-secondary hover:border-light-accent dark:hover:border-dark-accent flex min-h-full gap-1 rounded-lg border border-white border-opacity-0 p-4 hover:border hover:border-opacity-10 hover:dark:border-opacity-10"
    >
      <div
        class="bg-opacity-70 transition duration-300 ease-in-out dark:hover:bg-opacity-100"
      >
        <div class="flex flex-col">
          <p class="pb-1 font-medium text-black dark:text-white">
            {project.data.title}
          </p>
          <p class="text-sm text-gray-500 dark:text-gray-300">
            {project.data.description}
          </p>
        </div>
      </div>
    </div>
  </a>
</li>
