---
import { type CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
  class="flex gap-0 rounded-md bg-[#0f0f0f] hover:bg-[#171717] p-4 border-opacity-0 hover:border hover:border-gray-300 hover:border-opacity-10"
>
  <div
    class="bg-opacity-70 transition duration-300 ease-in-out hover:bg-opacity-100"
  >
    <a href={project.data.url} class="text-white no-underline">
      <li>
        <div class="flex flex-col">
          <p class="pb-1 font-medium">{project.data.title}</p>
          <p class="text-sm text-gray-300">{project.data.description}</p>
        </div>
      </li>
    </a>
  </div>
</div>
