---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-8 gap-20">
    <div class="col-span-3">
      <div class="box-bg default-border rounded-xl p-4"></div>
      <div class="my-4 flex flex-col gap-2">
        <p class="subtext text-sm">TL;DR</p>
        <p class="maintext text-sm">I'm focused on improving japanese</p>
      </div>
    </div>
    <div class="col-span-5">
      <div class="box-bg default-border rounded-xl p-4"></div>
    </div>
  </div>
</Layout>
