---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";

import Project from "@/components/Project.astro";
import SeoPage from "@/components/SeoPage.astro";

const projects = await getCollection("projects");
---

<Layout>
  <SeoPage slot="head" title="Projects" />
  <div class="mb-6">
    <h2 class="text-2xl font-bold">Projects</h2>
    <p class="text-sm text-gray-400">
      Projects that I've developed or contributed to.
    </p>
  </div>

  <!-- <hr class="my-8 border-[1px] opacity-5" /> -->
  <ul class="grid list-none grid-cols-1 gap-2 p-0">
    {projects.map((project: any) => <Project project={project} />)}
  </ul>
</Layout>
