---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SeoPage from "@/components/SeoPage.astro";

const projects = await getCollection("projects");
---

<Layout>
  <SeoPage slot="head" title="projects" />
  <div class="mb-6">
    <h2 class="text-2xl font-bold text-black dark:text-white">Projects</h2>
    <p class="text-sm text-gray-400">
      Projects that I've developed or contributed to.
    </p>
  </div>

  <ul class="grid list-none grid-cols-1 gap-2 p-0">
    {projects.map((project: any) => <ProjectCard project={project} />)}
  </ul>
</Layout>
