---
import { getCollection } from "astro:content";
import StaticLayout from "@/layouts/StaticLayout.astro";
import ProjectList from "@/components/ProjectList.astro";
import SeoPage from "@/components/SeoPage.astro";

const projects = await getCollection("projects");
---

<StaticLayout>
  <SeoPage slot="head" title="projects" />
  <body class="h-screen overflow-auto">
    <div class="grid grid-cols-8 gap-20">
      <div class="group col-span-3">
        <ul class="hover:!blur-none group-hover:blur-sm">
          {projects.map((project: any) => <ProjectList project={project} />)}
          {projects.map((project: any) => <ProjectList project={project} />)}
        </ul>
      </div>
      <div
        class="sticky top-32 col-span-5 self-start rounded-xl border border-light-accent border-opacity-10 bg-light-primary p-5 dark:border-dark-accent dark:border-opacity-10 dark:bg-dark-primary"
      >
        <p class="text-black dark:text-white">change this based on hover</p>
      </div>
    </div>
  </body>
</StaticLayout>
