---
import "@/styles/reset.css";
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body>
    <main
      class="overflow-hidden p-3 font-sans text-black sm:p-6 dark:text-white"
    >
      <slot />
    </main>
  </body>
</html>
